<h1 class="text-center mt-5 fw-bold text-secondary">{{ title }}</h1>
<div class="bg-primary col-md-8 m-auto mt-5 p-4 rounded-3">
  <p class="text-white text-center fs-1">{{ showDate }}</p>    
</div>
